{% extends 'base.html' %}

{% block title %} 




{% endblock %}

{% block content %}


<h1 style="color: darksalmon;">Sobre Nosotros</h1>

<div class="container">
    <p class="text-justify">Mí nombre es Guillermo y espero que este proyecto 
        sea el principio de mí camino profesional como programador, 
        porque estoy muy entusiasmado e interesado en el tema. Encuentro muchas 
        posibilidades de aplicar lo aprendido y por eso,
        me voy a seguir perfeccionando.
    </p>





</div>




{% endblock %}